<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>delUsr</servlet-name>
        <servlet-class>com.zhwuyuhehe.jsp_exam.delUsr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editUsr</servlet-name>
        <servlet-class>com.zhwuyuhehe.jsp_exam.editUsr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.zhwuyuhehe.jsp_exam.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.zhwuyuhehe.jsp_exam.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>printAll</servlet-name>
        <servlet-class>com.zhwuyuhehe.jsp_exam.printAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regServlet</servlet-name>
        <servlet-class>com.zhwuyuhehe.jsp_exam.regServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>com.zhwuyuhehe.jsp_exam.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendSms</servlet-name>
        <servlet-class>com.zhwuyuhehe.jsp_exam.SendSms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RXFile</servlet-name>
        <servlet-class>com.zhwuyuhehe.jsp_exam.RXFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delMany</servlet-name>
        <servlet-class>com.zhwuyuhehe.jsp_exam.delMany</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delUsr</servlet-name>
        <url-pattern>/delUsr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editUsr</servlet-name>
        <url-pattern>/editUsr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>printAll</servlet-name>
        <url-pattern>/printAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regServlet</servlet-name>
        <url-pattern>/regServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendSms</servlet-name>
        <url-pattern>/sendSms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RXFile</servlet-name>
        <url-pattern>/RXFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delMany</servlet-name>
        <url-pattern>/delMany</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
</web-app>